 .container-site {

    .container-pagina {
        background-color: #fffefe;
        margin: 2rem;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 2rem;

        .texto-pagina {
            display: flex;
            flex-direction: column;

            h2 {
                margin-bottom: 1rem;
                font-size: 32px;
                width: 400px;
            }

            .botaos {
                .agendar {
                    cursor: pointer;
                    background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 100%);

                    &:hover {
                        background: #f63e3ef6;
                    }
                }

                button:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                }

                button {
                    background-color: #DA2B1D;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    padding: 10px 20px 10px 20px;
                    font-size: 18px;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
                }
            }
        }

        .imagem-pagina {
            border-radius: 20px;
            margin-left: auto;

            img {
                border-radius: 10px;
                height: 330px;
                width: 800px;
            }
        }
    }

    .beneficios {
        margin-top: 1rem;

        h3 {
            margin-left: 5rem;
            font-size: 28px;
            margin-bottom: 2rem;
            color: #A9233E;
            text-shadow: rgba(169, 35, 35, 0.35) 0px 5px 15px;
        }

        .conteudo-beneficios {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;

            .itens-beneficios {
                background-color: #fffefe;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 10px;
                margin-left: 5rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border-radius: 12px;

                img {
                    height: 50px;
                    width: 50px;
                }

                p {
                    font-size: 20px;
                    width: 200px;
                    text-align: center;
                    color: #333333;
                }
            }
        }
    }

    .requisitos-doar {
        background-color: #fffefe;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 5rem;
        margin: 5rem;
        padding-bottom: 5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        .conteudo-requisitos {
            margin-top: 2rem;
            padding: 2rem;
            border-radius: 10px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        h4 {
            font-size: 28px;
            color: #A9233E;
            text-shadow: rgba(169, 35, 62, 0.35) 0px 5px 15px;
            text-align: center;
        }

        ul {
            margin-top: 1.5rem;
            list-style-type: disc;
            padding-left: 20px;
            line-height: 1.6;

            li {
                font-size: 18px;
                margin-bottom: 0.5rem;
                color: #333333;
            }
        }
    }

    .texto-doadores {
        text-align: center;
        margin: 5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 50px;
        background-color: #fffefe;

        h4 {
            font-size: 32px;
            color: #A9233E;
            margin-bottom: 2rem;
            text-shadow: rgba(169, 35, 62, 0.35) 0px 5px 15px;
        }

        p {
            font-size: 20px;
            color: #333333;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            line-height: 1.6;
            letter-spacing: 0.5px;
            text-shadow: rgba(169, 35, 62, 0.15) 0px 5px 15px;
        }
    }

    .como-funciona {
        padding: 2rem;
        border-radius: 10px;
        margin: 5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fffefe;

        h5 {
            font-size: 32px;
            color: #A9233E;
            text-align: center;
            margin-bottom: 2rem;
            text-shadow: rgba(169, 35, 62, 0.35) 0px 5px 15px;
        }

        .conteudo-como-funciona {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8rem;
            margin-bottom: 1rem;
            margin-left: auto;
            margin-right: auto;

            .itens {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: 10px;

                img {
                    height: 80px;
                    width: 80px;
                }

                p {
                    font-size: 18px;
                    color: #333333;
                    text-align: center;
                }
            }
        }
    }

    .fazer-parte {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        button {
            background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 100%);
            padding: 0.5rem 5rem;
            color: white;
            font-weight: bold;
            font-size: 25px;
            box-shadow: 0 4px 18px rgba(169, 35, 62, 0.25);
            border-radius: 16px;
            border: none;
            cursor: pointer;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: 1px;
            outline: none;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        button:hover {
            background: #A9233E;
            color: #fff;
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.7);
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
    }

    // Media queries para responsividade já estão presentes e foram mantidas
    @media (max-width: 1024px) {
        .container-pagina {
            flex-direction: column;
            text-align: center;

            .texto-pagina {
                h2 {
                    width: 100%;
                    font-size: 28px;
                }

                .botaos {
                    button {
                        font-size: 16px;
                        padding: 8px 16px;
                    }
                }
            }

            .imagem-pagina {
                margin-left: 0;
                margin-top: 2rem;

                img {
                    height: 250px;
                    width: 100%;
                    max-width: 600px;
                }
            }
        }

        .beneficios {
            h3 {
                margin-left: 2rem;
                font-size: 24px;
            }

            .conteudo-beneficios {
                .itens-beneficios {
                    margin-left: 2rem;
                    flex-direction: column;
                    text-align: center;

                    p {
                        width: 100%;
                        font-size: 18px;
                    }
                }
            }
        }

        .requisitos-doar {
            margin: 2rem;

            .conteudo-requisitos {
                width: 90%;
            }

            h4 {
                font-size: 24px;
            }

            ul {
                li {
                    font-size: 16px;
                }
            }
        }

        .texto-doadores {
            margin: 2rem;
            padding: 30px;

            h4 {
                font-size: 28px;
            }

            p {
                font-size: 18px;
                width: 90%;
            }
        }

        .como-funciona {
            margin: 2rem;
            padding: 1rem;

            h5 {
                font-size: 28px;
            }

            .conteudo-como-funciona {
                gap: 4rem;

                .itens {
                    img {
                        height: 60px;
                        width: 60px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        .fazer-parte {
            margin-bottom: 3rem;

            button {
                padding: 0.5rem 3rem;
                font-size: 20px;
            }
        }
    }

    @media (max-width: 768px) {
        .container-pagina {
            margin: 1rem;
            padding: 1rem;

            .texto-pagina {
                h2 {
                    font-size: 24px;
                }

                .botaos {
                    button {
                        font-size: 14px;
                        padding: 6px 12px;
                    }
                }
            }

            .imagem-pagina {
                img {
                    height: 200px;
                }
            }
        }

        .beneficios {
            h3 {
                margin-left: 1rem;
                font-size: 20px;
            }

            .conteudo-beneficios {
                .itens-beneficios {
                    margin-left: 1rem;
                    padding: 8px;

                    img {
                        height: 40px;
                        width: 40px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        .requisitos-doar {
            margin: 1rem;
            padding-bottom: 3rem;

            .conteudo-requisitos {
                padding: 1rem;
                width: 95%;
            }

            h4 {
                font-size: 20px;
            }

            ul {
                li {
                    font-size: 14px;
                }
            }
        }

        .texto-doadores {
            margin: 1rem;
            padding: 20px;

            h4 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
                width: 95%;
            }
        }

        .como-funciona {
            margin: 1rem;
            padding: 0.5rem;

            h5 {
                font-size: 24px;
            }

            .conteudo-como-funciona {
                gap: 2rem;

                .itens {
                    img {
                        height: 50px;
                        width: 50px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        .fazer-parte {
            margin-bottom: 2rem;

            button {
                padding: 0.5rem 2rem;
                font-size: 18px;
            }
        }
    }

    @media (max-width: 480px) {
        .container-pagina {
            margin: 0.5rem;
            padding: 0.5rem;

            .texto-pagina {
                h2 {
                    font-size: 20px;
                }

                .botaos {
                    button {
                        font-size: 12px;
                        padding: 4px 8px;
                    }
                }
            }

            .imagem-pagina {
                img {
                    height: 150px;
                }
            }
        }

        .beneficios {
            h3 {
                margin-left: 0.5rem;
                font-size: 18px;
            }

            .conteudo-beneficios {
                .itens-beneficios {
                    margin-left: 0.5rem;
                    gap: 0.5rem;
                    padding: 5px;

                    img {
                        height: 30px;
                        width: 30px;
                    }

                    p {
                        font-size: 14px;
                        width: 150px;
                    }
                }
            }
        }

        .requisitos-doar {
            margin: 0.5rem;
            padding-bottom: 2rem;

            .conteudo-requisitos {
                padding: 0.5rem;
                width: 100%;
            }

            h4 {
                font-size: 18px;
            }

            ul {
                padding-left: 15px;

                li {
                    font-size: 12px;
                }
            }
        }

        .texto-doadores {
            margin: 0.5rem;
            padding: 15px;

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
                width: 100%;
            }
        }

        .como-funciona {
            margin: 0.5rem;
            padding: 0.5rem;

            h5 {
                font-size: 20px;
            }

            .conteudo-como-funciona {
                gap: 1rem;

                .itens {
                    img {
                        height: 40px;
                        width: 40px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .fazer-parte {
            margin-bottom: 1rem;

            button {
                padding: 0.5rem 1.5rem;
                font-size: 16px;
            }
        }
    }
}
