.container-site {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    .container-pagina {
        margin: 2rem;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        background-color: #c0bbbb8e;

        border-radius: 10px;
        padding: 2rem;

        .texto-pagina {
            display: flex;
            flex-direction: column;


            h2 {
                margin-bottom: 1rem;
                font-size: 32px;
                width: 400px;

            }


            .botaos {

                .agendar {
                    background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 100%);

                    &:hover {
                        background: #f63e3ef6;
                    }
                }

                button:hover {

                    transform: translateY(-5px);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

                }

                button {
                    color: white;
                    border: 1px solid #EE666E;
                    border-radius: 10px;
                    padding: 10px 20px 10px 20px;
                    font-size: 18px;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;

                }
            }
        }

        .imagem-pagina {
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 20px 10px;
            margin-left: auto;

            img {
                border-radius: 10px;
                height: 330px;
                width: 800px;
            }
        }
    }

    .beneficios {
        margin-top: 1rem;


        h3 {
            margin-left: 5rem;
            font-size: 28px;
            margin-bottom: 2rem;
            color: #A9233E;

            text-shadow: rgba(169, 35, 35, 0.35) 0px 5px 15px;
        }

        .conteudo-beneficios {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            ;


            .itens-beneficios {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 10px;
                margin-left: 5rem;


                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border-radius: 12px;


                border-radius: 10px;


                img {
                    height: 50px;
                    width: 50px;
                }

                p {
                    font-size: 20px;
                    width: 200px;
                    text-align: center;
                    color: #333333;
                }
            }
        }
    }



    .requisitos-doar {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 5rem;
        margin: 5rem;
        padding-bottom: 5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        h3 {

            font-size: 32px;
            color: #A9233E;
        }



        .conteudo-requisitos {
            margin-top: 2rem;
            padding: 2rem;
            border-radius: 10px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            


        }


        h4 {
            font-size: 28px;
            color: #A9233E;
            text-shadow: rgba(169, 35, 62, 0.35) 0px 5px 15px;
            text-align: center;
        }

        ul {
            margin-top: 1.5rem;
            list-style-type: disc;
            padding-left: 20px;
            line-height: 1.6;


            li {
                font-size: 18px;
                margin-bottom: 0.5rem;
                color: #333333;
            }
        }
    }



    .texto-doadores {
        text-align: center;
        margin: 5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 50px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        h4 {
            font-size: 32px;
            color: #A9233E;
            margin-bottom: 2rem;
            text-shadow: rgba(169, 35, 62, 0.35) 0px 5px 15px;



        }

        p {
            font-size: 20px;
            color: #333333;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            line-height: 1.6;
            letter-spacing: 0.5px;
            text-shadow: rgba(169, 35, 62, 0.15) 0px 5px 15px;

        }
    }




    .como-funciona {
        padding: 2rem;
        border-radius: 10px;
        margin: 5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    



        h5 {
            font-size: 32px;
            color: #A9233E;
            text-align: center;
            margin-bottom: 2rem;
            text-shadow: rgba(169, 35, 62, 0.35) 0px 5px 15px;

        }

        .conteudo-como-funciona {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8rem;
            margin-bottom: 1rem;
            margin-left: auto;
            margin-right: auto;

            .itens {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: 10px;


                img {
                    height: 80px;
                    width: 80px;
                }

                p {
                    font-size: 18px;
                    color: #333333;
                    text-align: center;
                }
            }
        }
    }


    .fazer-parte {


        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        button {
            background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 100%);
            padding: 0.5rem 5rem;
            color: white;
            font-weight: bold;
            font-size: 25px;
            box-shadow: 0 4px 18px rgba(169, 35, 62, 0.25);
            border-radius: 16px;
            border: none;
            cursor: pointer;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: 1px;
            outline: none;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

        }

        button:hover {
            background: #A9233E;
            color: #fff;
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.7);
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
    }

    


}