@import "../HemoControl/index.scss";

.busca-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    padding: 10px 20px;
    background-color: #d30000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.resultado-busca {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
}
