.container-cadastro {
    height: 100vh;


    .container-tags {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 100%);
        padding: 5px;
        margin: 1rem 2rem 1rem 2rem;

        .img-tags {
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: 5px;

            img {
                height: 70px;
                width: auto;
                border-radius: 5px;
            }

            h1 {
                font-size: 17px;
                display: inline-block;
                text-decoration: none;
                border-bottom: none;
                font-weight: bold;
                color: #ffffff;
            }
        }

        .tags-login {
            display: flex;
            align-items: center;
            gap: 5rem;
            margin-right: 5rem;


            .ajudar {
                color: white;
                border: 1px solid #A9233E;
                background-color: #D62828;
                font-size: 16px;
                
                &:hover {
                    background-color: #9B2226;
                }
            }
            
            button {
                border-radius: 8px;
                padding: 10px;
            }

        }
    }

    .container-cadastro {

        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10rem;
        padding: 1rem;
        margin-top: 2rem;

        .texto-cadastro {
            border: 3px solid #DA2B1D;
            background-color: white;
            border-radius: 8px;
            max-width: 500px;
            flex: 1;
            height: auto;
            padding: 1rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            .textos {
                display: flex;
                flex-direction: column;
                gap: 15px;

                align-items: center;

                margin: 0;

                h2 {
                    font-size: 22px;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    color: #333;
                    line-height: 1.15;
                }

                p {
                    width: 100%;
                    font-size: 14px;
                    text-align: center;
                    margin: 0;
                    color: #333;
                    line-height: 1.3;
                }

                .botao-como-funciona {
                    display: flex;
                    justify-content: center;
                    margin-top: 15px;

                    button {
                        background-color: #DA2B1D;
                        color: white;
                        border: none;
                        border-radius: 8px;
                        padding: 10px 30px;
                        font-size: 16px;
                        font-weight: bold;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        box-shadow: 0 2px 4px rgba(218, 43, 29, 0.2);

                        &:hover {
                            background-color: #b80202;
                        }
                    }
                }
            }

        }

        .container-informacoes {
            background-color: white;
            border: 3px solid #DA2B1D;
            border-radius: 10px;
            width: 520px;
            height: fit-content;
            flex-shrink: 0;

            .titulo {
                background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 50%);
                border-radius: 7px 7px 0 0;
                padding: 10px;
                grid-column: 1 / -1;

                h2 {
                    color: #fcf9f8;
                    font-size: 20px;
                    text-align: center;
                }

            }

            form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 16px;
                row-gap: 10px;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                margin: 10px;
                overflow: visible;


                label {
                    margin-bottom: 5px;
                    color: #333;
                    font-weight: bold;
                }

                .password-field {
                    display: flex;
                    align-items: center;

                    input {
                        flex: 1;
                        padding: 8px;
                        font-size: 16px;
                        border-radius: 5px 0 0 5px;
                        border: 1px solid #ccc;
                        border-right: none;

                        &:focus {
                            outline: none;
                            border: 2px solid #DA2B1D;
                            border-right: none;
                        }
                    }

                    .toggle-password {
                        background: none;
                        border-left: none;
                        cursor: pointer;
                        color: #666;
                        padding: 8px ;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: auto;

                    }
                }

                input:not(.input-container input),
                select {
                    min-width: 50px; // Largura mínima do select
                    width: 100%; // Pode expandir até o tamanho do container
                    padding: 8px;
                    font-size: 16px;
                    border-radius: 5px;
                    border: 1px solid #ccc;

                    &:focus {
                        outline: none;
                        border: 2px solid #DA2B1D;
                    }
                }
            }

            .row {
                grid-column: 1 / -1;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 16px;
                row-gap: 10px;
            }

            @media (max-width: 768px) {
                .row {
                    grid-template-columns: 1fr;
                }
            }


            button {
                grid-column: 1 / -1;
                background-color: #DA2B1D;
                color: white;
                border: none;
                border-radius: 8px;
                padding: 10px;
                font-size: 15px;
                font-weight: bold;
                margin-top: 6px;
                width: 180px;
                justify-self: center;
                margin-bottom: 10px;


                &:hover {
                    background-color: #b80202;
                }
            }

            .semCadastro {
                text-align: center;
                margin-bottom: 3rem;
            }

        }

    }

    @media (max-width: 1200px) {
        .container-cadastro {
            flex-direction: column;
            align-items: center;
        }

        .texto-cadastro {
            max-width: 100%;
            margin-bottom: 1rem;
        }

        .container-informacoes {
            width: 90%;
            max-width: 400px;

            form {
                grid-template-columns: 1fr;
            }
        }
    }

}