@import "../HemoControl/index.scss";

.cadastro-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 10px;
    background-color: #d30000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: #b00000;
    }
  }
}
