.container-site {

    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

    .container-tags {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 100%);

        .foto-tags {
            display: flex;
            align-items: center;
            padding: 5px;



            img {
                height: 20ox;
                width: 50px;
            }

            h1 {
                font-size: 15px;
                color: white;
                font-weight: bold;

            }
        }

        .tags-paginas {
            display: flex;
            gap: 2rem;

            a {
                text-decoration: none;
                color: #ffffff;
                font-weight: 500;
                padding: 5px 0;
                border-bottom: 2px solid transparent;
                transition: all 0.3s ease;

                &:hover {
                    color: #f4868d;
                    border-bottom-color: #f4868d;
                    transition: all 0.3s ease;


                }
            }
        }

        .botao-login {
            display: flex;
            align-items: center;
            gap: 20px;


            .login {
                color: white;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    color: rgb(255, 0, 0);
                    transition: all 0.3s ease;

                }
            }

            button {
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 10px;
                padding-top: 10px;
                margin-right: 2rem;
                background-color: #fffffff0;
                border-radius: 10px;
                font-size: 17px;
                border: 1px solid #A9233E;

                &:hover {
                    background-color: #f4868d;
                    cursor: pointer;
                    color: white;
                    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.7);
                    transition: all 0.3s ease;
                }
            }

        }

    }

    .container-pagina {
        margin: 5rem;
        display: flex;

        .texto-pagina {
            display: flex;
            flex-direction: column;


            h2 {
                margin-bottom: 1rem;
                font-size: 32px;
                width: 400px;

            }


            .botaos {

                .agendar {
                    background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 100%);

                    &:hover {
                        background: #a7102eb9;
                    }
                }

                button {
                    color: white;
                    border: 1px solid #EE666E;
                    border-radius: 10px;
                    padding: 10px 20px 10px 20px;
                    font-size: 18px;

                }
            }
        }

        .imagem-pagina {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            border-radius: 20px;
            box-shadow: rgba(255, 0, 0, 0.56) 0px 22px 70px 4px;
            margin-left: auto;

            img {
                border-radius: 10px;
                height: 330px;
                width: 800px;
            }
        }
    }

    .beneficios {

        h3 {
            margin-left: 5rem;
            font-size: 28px;
            margin-bottom: 2rem;
            color: #A9233E;
        }

        .conteudo-beneficios {
            display: flex;
            align-items: center;
            margin-top: 2rem;


            .itens-beneficios {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 10px;
                margin-left: 5rem;



                border: 1px solid #A9233E;
                border-radius: 10px;


                img {
                    height: 50px;
                    width: 50px;
                }

                p {
                    font-size: 20px;
                    width: 200px;
                    text-align: center;
                    color: #333333;
                }
            }
        }
    }

    .requisitos-doar {
        margin-top: 5rem;

        h3 {

            font-size: 32px;
            color: #A9233E;
        }



        .conteudo-requisitos {
            margin-top: 2rem;
            padding: 2rem;
            border-radius: 10px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;

        }


        h3 {
            font-size: 28px;
            color: #A9233E;
            text-shadow: rgba(169, 35, 62, 0.35) 0px 5px 15px;

        }

        ul {
            margin-top: 1.5rem;
            list-style-type: disc;
            padding-left: 20px;
            line-height: 1.6;


            li {
                font-size: 18px;
                margin-bottom: 0.5rem;
                color: #333333;
            }
        }
    }

    .texto-doadores {
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: center;


        h4 {
            font-size: 32px;
            color: #A9233E;
            margin-bottom: 2rem;
            text-shadow: rgba(169, 35, 62, 0.35) 0px 5px 15px;
        }

        p {
            font-size: 20px;
            color: #333333;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            line-height: 1.6;
            letter-spacing: 0.5px;
            text-shadow: rgba(169, 35, 62, 0.15) 0px 5px 15px;

        }
    }

    .como-funciona {
        padding: 2rem;
        border-radius: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        margin-bottom: 5rem;


        h5 {
            font-size: 32px;
            color: #A9233E;
            text-align: center;
            margin-bottom: 2rem;
            text-shadow: rgba(169, 35, 62, 0.35) 0px 5px 15px;

        }

        .conteudo-como-funciona {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8rem;
            margin-bottom: 1rem;
            margin-left: auto;
            margin-right: auto;

            .itens {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: 10px;


                img {
                    height: 80px;
                    width: 80px;
                }

                p {
                    font-size: 18px;
                    color: #333333;
                    text-align: center;
                }
            }
        }
    }

    .fazer-parte {

        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;

        button {
            background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 100%);
            padding: 0.5rem 5rem;
            color: white;
            font-weight: bold;
            font-size: 25px;
            box-shadow: 0 4px 18px rgba(169, 35, 62, 0.25);
            border-radius: 16px;
            border: none;
            cursor: pointer;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: 1px;
            outline: none;

        }
        button:hover {
            background: #A9233E;
            color: #fff;
            text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.7);
        }
    }

    .footer{
        background: linear-gradient(135deg, #DA2B1D 0%, #A9233E 100%);
        padding: 5rem;
        color: #fff;
        margin-bottom: 1rem;

        .conteinar-foo{
            display: flex;
            justify-content: center;
            gap: 10rem;

            .Nos{
                padding-right: 5rem;
                
                h1{
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img{
                        height: 60px;
                    }

                }

                p{
                    font-size: 18px;
                    width: 300px;
                }
            }

            .cadastro-foo{

                text-align: center;

                .email{
                    color: #333333;
                }
                p{
                    font-size: 18px;
                    margin-bottom: 2rem;
                }

                button{
                    padding: 10px 25px;
                    background-color: #DA2B1D;
                    font-size: 17px;
                    border: 1px solid #DA2B1D;
                    border-radius: 20px;
                    box-shadow: 0 4px 18px rgba(255, 255, 255, 0.526);
                    color: white;
                    margin-bottom: 3rem;

                    &:hover{
                        background-color: #fc3628;
                        box-shadow: 0 4px 18px rgba(255, 255, 255, 0.932);

                    }
                }
            }

        }

    }


}