.container-contato {

    .conteudo {

        .fale-conosco {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-bottom: 1rem;
            margin-top: 2rem;

        }
    }

    .duvidas {

        display: flex;
        justify-content: left;
        align-items: center;
        gap: 5rem;
        margin: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


        img {
            padding-right: 13rem;
        }

        h2 {
            padding: 5rem;
            padding-right: 15rem;

        }
    }

    .nossas-opcoes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;

    }

    .opcoes-contato {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        
        padding: 2rem;
        border-radius: 10px;
        gap: 2rem;
        margin-bottom: 7rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);




        h1 {
            margin-left: 5rem;
            
        }

        .email {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 9px;
            margin-top: 1rem;
            margin-bottom: 1rem;

        }

        .whatsapp {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 9px;
            margin-top: 1rem;
            margin-bottom: 1rem;

        }

        .redes-sociais {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 9px;
            margin-top: 1rem;
            margin-bottom: 1rem;

        }

    }

}