.container-contato{

    .conteudo{

        .fale-conosco{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-bottom: 1rem;
            margin-top: 2rem;
  
        }
    }

        .duvidas{

            display: flex;
            justify-content: left ;
            align-items: center;
            gap: 5rem;
            
            img{
                padding-right: 13rem;
            }
            h2{
                padding: 5rem;
                padding-right: 15rem;
            
            }
        }

        .opcoes-contato{
            margin-top: 5rem;


            h1{
                margin-left: 5rem;
            }
            .email{
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 9px;
                margin-top: 1rem;
                margin-bottom: 1rem;
                margin-left: 10rem;
            }
            .whatsapp{
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 9px;
                margin-top: 1rem;
                margin-bottom: 1rem;
                margin-left: 3rem;
            }
            .redes-sociais{
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 9px;
                margin-top: 1rem;
                margin-bottom: 1rem;
                margin-left: 3rem;
            }

        }

}