*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
     scroll-behavior: smooth;
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-sLfsADusN162qUZIZmkSgy36s5qGQH5hxA&s");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
